[submodule "libraries/sweet-collections"]
	path = libraries/sweet-collections
	url = https://github.com/zynres/sweet-collections.git
[submodule "libraries/sweet-platform"]
	path = libraries/sweet-platform
	url = https://github.com/zynres/sweet-platform.git
