[submodule "libraries/sweetlib-platform"]
	path = libraries/sweetlib-platform
	url = https://github.com/zynres/sweetlib-platform.git
[submodule "libraries/sweetlib-collections"]
	path = libraries/sweetlib-collections
	url = https://github.com/zynres/sweetlib-collections.git
